<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="My First Test Suite">
    <test name="Calculator">
        <classes>
            <class name="TestNgDemoTests.CalculatorTest"/>
        </classes>
    </test> <!-- Test -->

    <test name="StringWorkerTest">
        <classes>
            <class name="TestNgDemoTests.StringWorkerTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->